@tailwind base;
@tailwind components;
@tailwind utilities;


.layout-container{
    height: 100vh;
    width: 100vw;
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
}